<main class="container">
  <div class="header">
    <%= link_to("← 動画の一覧に戻る", archives_path) %>
  </div>
  
  <article class="article">
    <% if @archive.video.attached? %>
      <template data-controller="autoimport">
        <%= video_tag(url_for(@archive.video), controls: true) %>
      </template>
    <% else %>
      <p>no video</p>
    <% end %>
    <div class="article__header">
      <h2 class="article__title"><%= @archive.title %></h2>
      <p>取得元URL: <%= link_to(nil, @archive.original_url, target: "_blank") %></p>
      <div class="article__metadata">
        <div>追加日: <%= @archive.created_at.in_time_zone('Tokyo').strftime('%Y-%m-%d %H:%M') %></div>
        <div>状態: <%= @archive.status %></div>
      </div>
      <% if @archive.video.attached? %>
      <div>
        <%= link_to("ダウンロード", @archive.video, download: @archive.title) %>
      </div>
      <% end %>
    </div>
    <div class="article__log">
      <h3>ログ</h3>
      <% if @archive.video_download_log.attached? %>
        <pre><%= @archive.video_download_log_text %></pre>
      <% else %>
        <p>まだログはありません</p>
      <% end %>
    </div>
  </article>
</main>

